#map{
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.title{
    font-size: 16px;
}

.card{
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    width: 225px;
    max-height: calc(100vh - 400px);
    overflow: auto;
}

.filter_teg {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.card::-webkit-scrollbar, .filter_teg::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.card::-webkit-scrollbar-thumb, .filter_teg::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px;
}
